<%= link_to 'Create new portfolio item', new_portfolio_url, class: 'btn btn-sm btn-outline-primary' if logged_in?(:site_admin) %>
<hr>
<div class="row">
  <%= render partial: 'portfolio_item', collection: @portfolio_items %>
</div>
