<header class="masthead mb-auto">
  <div class="inner">
    <h4 class="masthead-brand">Caio Cutrim</h4>
    <nav class="nav nav-masthead justify-content-center app-nav">
      <%= nav_helper 'nav-item', 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</header>