<nav class="navbar navbar-expand-lg navbar-light bg-faded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "Caio Dev", root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <%= nav_helper 'nav-item', 'nav-link', 'li' %>
      <%= login_helper 'nav-link'%>
    </ul>
  </div>
</nav>