<footer class="text-muted">
  <div class="container">
    <div class="float-right">
      <p>
        <%= link_to "View all portfolio items", portfolios_path %> / <a href="#">Back to top</a>
      </p>
    </div>
    <p><%= copyright_generator %></p> 
  </div>
</footer>