<div class="app-card-container">
  <div class="card">
    <h3>About me</h3>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "me.jpg", width:"100%", alt: "profile image", class: 'profile-img' %>
      </div>
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore tenetur, ipsum repellendus, ipsam itaque, fugiat ab assumenda iusto eum nulla vitae id necessitatibus recusandae impedit odit quasi quia, reiciendis laborum nihil voluptates?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore tenetur, ipsum repellendus, ipsam itaque, fugiat ab assumenda iusto eum nulla vitae id necessitatibus recusandae impedit odit quasi quia, reiciendis laborum nihil voluptates?</p>
      </div>
    </div>
  </div>
</div>
