<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum totam aliquid reprehenderit praesentium iusto unde eum delectus debitis rem, vitae id corporis, enim culpa.</p>
  <p class="lead">
    <%= link_to("About me", about_me_path, class: 'btn btn-lg btn-secondary') %>
  </p>
</main>